$_standard-font-family: 'Lato', sans-serif;

$primary-font-regular: (
  family: $_standard-font-family,
  style: normal,
  weight: 400
);

// Colours
$_color-white: #fff;
$_color-black: #232323;

$_color-valhalla: #242943;
$_color-viking: #6fc3df;
$_color-blue-bell: #8d82c4;
$_color-apricot: #ec8d81;
$_color-gold-sand: #e7b788;
$_color-portage: #8ea9e8;
$_color-de-york: #87c5a4;

$transition-timing: .3s;

$body-background-color: $_color-white;
$body-color: $_color-black;

$default-link-color: $_color-black;
