@mixin vertical-center($position: relative) {
  transform: translateY(-50%);
  position: $position;
  top: 50%;
}

@mixin vertical-reset($position: relative) {
  transform: translateY(0);
  top: 0;
  position: $position;
}

@mixin horizontal-center($position: relative) {
  transform: translateX(-50%);
  left: 50%;
  position: $position;
}

@mixin horizontal-reset($position: relative) {
  transform: translateX(0);
  left: 0;
  position: $position;
}

@mixin absolute-center($position: relative) {
  transform: translate(-50%, -50%);
  left: 50%;
  position: $position;
  top: 50%;
}

@mixin absolute-reset($position: relative) {
  transform: translate(0, 0);
  left: 0;
  position: $position;
  top: 0;
}

@mixin font-size($size) {
  font-size: ($size * 10) + px;
  font-size: $size + rem;
}

@mixin font-styles-for($font) {
  font: {
    family: map-get($font, family);
    style: map-get($font, style);
    weight: map-get($font, weight);
  }
}

@mixin background-cover {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin font-awesome-icon($unicode, $icon-size: false) {
  content: unquote("\"\\#{$unicode}\"");
  font-family: FontAwesome;

  @if $icon-size {
    @include font-size($icon-size);
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: ($height / $width) * 100%;
    width: 100%;
  }

  > * {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
